In [1]:
import pandas as pd

In [2]:
data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [25, 30, 35]}
df = pd.DataFrame(data)

In [3]:
df.head()

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

In [4]:
df.at[0, 'age'] = 56
df.head()

      name  age
0    Alice   56
1      Bob   30
2  Charlie   35

In [5]:
df.loc[0, 'age'] = 25
df.head()

      name  age
0    Alice   25
1      Bob   30
2  Charlie   35

In [6]:
df.columns

Index(['name', 'age'], dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [8]:
df.iloc[0, 1] = 36
df.head()

      name  age
0    Alice   36
1      Bob   30
2  Charlie   35

In [11]:
df.age
# df['age']

0    36
1    30
2    35
Name: age, dtype: int64

In [12]:
df['height']

KeyError: 'height'

In [13]:
df['height'] = [165, 180, 175]
df.head()

      name  age  height
0    Alice   36     165
1      Bob   30     180
2  Charlie   35     175

In [19]:
df['test'] = [2, 3]
df.head()

ValueError: Length of values (2) does not match length of index (3)

In [20]:
df.isna()

    name    age  height   test
0  False  False   False  False
1  False  False   False  False
2  False  False   False  False

In [21]:
df['test'] = [1, 2, 3, 4]
df.head()

ValueError: Length of values (4) does not match length of index (3)

In [22]:
import numpy as np

In [23]:
df['test'] = [2, np.nan, 3]
df.head()

      name  age  height  test
0    Alice   36     165   2.0
1      Bob   30     180   NaN
2  Charlie   35     175   3.0

In [24]:
df.isna()

    name    age  height   test
0  False  False   False  False
1  False  False   False   True
2  False  False   False  False

In [25]:
df['gender'] = 'Male'
df.head()

      name  age  height  test gender
0    Alice   36     165   2.0   Male
1      Bob   30     180   NaN   Male
2  Charlie   35     175   3.0   Male

In [27]:
df.loc[3] = ['Eve', 29, 170, 3, 'Female']
df.loc[4] = ['Rob', 50, np.nan, 5, 'Male']
df.head()

      name  age  height  test  gender
0    Alice   36   165.0   2.0    Male
1      Bob   30   180.0   NaN    Male
2  Charlie   35   175.0   3.0    Male
3      Eve   29   170.0   3.0  Female
4      Rob   50     NaN   5.0    Male

In [28]:
df.isna()

    name    age  height   test  gender
0  False  False   False  False   False
1  False  False   False   True   False
2  False  False   False  False   False
3  False  False   False  False   False
4  False  False    True  False   False

In [31]:
df.isna().sum()

name      0
age       0
height    1
test      1
gender    0
dtype: int64